.App {
  text-align: center;
  /*! overflow-y: auto; */
  box-sizing: border-box;
}

.App-logo {
  -webkit-animation: App-logo-spin infinite 20s linear;
          animation: App-logo-spin infinite 20s linear;
  height: 35px;
}

.App-header {
  background-color: #222;
  height: 53px;
  padding: 20px;
  color: white;
}

.App-header h2 {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 0;
  padding: 0;
}

.board {
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.row {
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.square {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid transparent;
}

.selected {
  border: 2px solid blue;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

.player-one, .player-two {
  border-radius: 50%;
  width: 75%;
  height: 75%;
  border: 1px solid black;
}

span.player-one, span.player-two {
  margin-left: 10px;
  margin-bottom: -3px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.player-one {
  background-color: yellow;
}

.player-two {
  background-color: lightgreen;
}

#winner {
  position: absolute;
  width: 100%;
  height: 500px;
  background-color: rgba(255,255,255,.9);
  left: 0;
  top: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#winner p {
  font-size: 35px;
  font-weight: bold;
}

#winner button {
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 300ms linear;
}

#winner button:hover {
  background-color: black;
  color: white;
}

.king::before {
  content: '';
  display: block;
  width: 35px;
  height: 25px;
  background-image: url('./crown.png');
  background-size: 100% 100%;
  background-position: 0px 2px;
  background-repeat: no-repeat; 
}

@-webkit-keyframes App-logo-spin {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes App-logo-spin {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
